# Enable the cache globally or on a per project basis. Bazel currently
# fails if the cache isn't running, but bazel is configured to use it.
# This file is to help prevent that when building the cache itself :)
